html {
  background-color: #666 !important;

}

.App {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20% 30% 50%;

}

.header {
    /* background: url(../img/backgrounds/beach-birds.JPG) no-repeat top center; */
    background: url(../img/backgrounds/forest.JPG) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    /* height: 20vh; */
    width: 100%;
    position: fixed;
    grid-row: 1;

}

.body {
  background: url(../img/backgrounds/beach-birds.JPG) no-repeat top center;

  /* background: url(../img/backgrounds/forest.JPG) no-repeat top center; */
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  
}

.mydetails {
  color: #DFE;
  grid-row: 2;
  /* height: 80vh; */
  position: relative;
  text-align: center;

}

.all-projects {
  color: #DFE;
  grid-column: 1;
  position: relative;
  text-align: center;
}

.project-container {
  
}

.app-image {
  width: 90%;
  opacity: .9;
}

.about-me {
}

a {
  color: mediumspringgreen;
}

a:active {
  color: yellow;
}
