html {
  background-color: #666 ;

}

.container {
  border: 3px solid salmon;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20vh repeat(3, 1fr) 50px;
  gap: 20px;
}

.header {
  border: 3px solid royalblue;
    /* background: url(../img/backgrounds/beach-birds.JPG) no-repeat top center; */
    /* background: url(../img/backgrounds/forest.JPG) no-repeat top center; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* position: fixed; */
    grid-column: 1/4;
    grid-row: 1/2;
    position: sticky;
    top: 0;
}

.body {
  /* border: 3px solid hotpink; */
  /* background: url(../img/backgrounds/beach-birds.JPG) no-repeat top center; */
  /* background: url(../img/backgrounds/forest.JPG) no-repeat top center; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-blend-mode: overlay; */
  
}

.footer {
  border: 1px solid aqua;
  grid-column: 1/4;
  grid-row: 5/6;
}

.mydetails {
  border: 3px solid orange;
  grid-column: 1/2;
  grid-row: 2/5;
  color: #DFE;
  text-align: center;
}

.skills {
  border: 3px solid khaki;
  grid-column: 2/4;
  grid-row: 2/3;
}

.projects {
  border: 3px solid mediumspringgreen;
  grid-column: 2/4;
  grid-row: 3/5;
  /* grid-template-columns: repeat(auto-fit, minmax(50px, 100px)); */
  /* grid-template-rows: repeat(auto-fit); */
  color: #DFE;
  /* position: relative; */
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.proj {
  border: 3px dashed yellow;

}

.app-image {
  width: 80%;
  height: 80%;
  opacity: .9;
}

.about-me {
  border: 3px solid red;
}


a {
  color: mediumspringgreen;
}

a:active {
  color: yellow;
}
